{
    "plugins": [
        [
            "babel-plugin-module-resolver/lib/index.js",
            {
                "root": [],
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ],
    "presets": ["env", "react", "stage-0"]
}
